.u-section-1 .u-sheet-1 {
  min-height: 341px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 95px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 52px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 435px;
}

.u-section-2 .u-gallery-1 {
  height: 375px;
  margin: 30px auto 25px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 23px;
}

.u-section-2 .u-back-slide-1 {
  background-image: none;
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-1 {
  width: calc(100% + 50px);
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 23px;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-2 {
  width: calc(100% + 50px);
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 23px;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-3 {
  width: calc(100% + 50px);
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 23px;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-4 {
  width: calc(100% + 50px);
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 23px;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-5 {
  width: calc(100% + 50px);
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 23px;
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-6 {
  width: calc(100% + 50px);
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 599px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  text-transform: uppercase;
  width: 258px;
  margin: 56px auto 0;
}

.u-section-3 .u-line-1 {
  width: 72px;
  transform-origin: left center 0px;
  margin: 10px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 35px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 58.6667px) calc(33.3333% - 58.6667px) calc(33.3333% - 58.6667px);
  min-height: 388px;
  grid-gap: 88px 88px;
  grid-auto-columns: calc(33.3333% - 58.6667px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 320px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 58.6667px));
    grid-auto-columns: calc(33.333333333333336% - 58.6667px);
  }

  .u-section-3 .u-icon-1 {
    color: rgb(16, 129, 224) !important;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    margin-top: 390px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -345px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 735px;
    grid-template-columns: repeat(2, calc(50% - 44.000025px));
    grid-auto-columns: calc(50% - 44.000025px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    margin-top: 742px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -697px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-line-1 {
    margin-top: 796px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-image: url("images/default-image.jpg?rand=130d");
}

.u-section-4 .u-sheet-1 {
  min-height: 579px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 20px auto 0;
}

.u-section-4 .u-line-1 {
  width: 72px;
  transform-origin: left center 0px;
  margin: 5px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 10px 0 29px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 459px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 347px;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 117px;
}

.u-section-4 .u-container-layout-2 {
  padding: 8px 30px;
}

.u-section-4 .u-text-2 {
  margin: 38px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 342px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 342px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-4 .u-image-1 {
    height: 275px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 96px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 282px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 716px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 564px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 664px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  width: 333px;
  font-size: 2.25rem;
  margin: 44px auto 0;
}

.u-section-5 .u-line-1 {
  width: 72px;
  transform-origin: left center 0px;
  margin: 6px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px 17px;
  margin: 55px 0 60px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 41px;
    margin-left: 388px;
  }

  .u-section-5 .u-line-1 {
    height: 3px;
    margin-top: -20px;
  }

  .u-section-5 .u-gallery-1 {
    height: 349px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 297px;
  }

  .u-section-5 .u-gallery-1 {
    height: 802px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2046px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 223px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1805px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 140px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 1136px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 666px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  width: 215px;
  margin: 57px auto 0;
}

.u-section-6 .u-line-1 {
  width: 72px;
  transform-origin: left center 0px;
  margin: 8px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 36px 0 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 463px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-6 .u-text-2 {
  margin: 0 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-4 {
  background-image: none;
  margin: 20px 11px 0 29px;
}

.u-section-6 .u-icon-1 {
  width: 16px;
  height: 22px;
}

.u-section-6 .u-icon-2 {
  width: 16px;
  height: 22px;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 31px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 463px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-6 .u-text-5 {
  margin: 1px 5px 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 20px 5px 0;
}

.u-section-6 .u-text-7 {
  background-image: none;
  margin: 14px 5px 0;
}

.u-section-6 .u-icon-6 {
  width: 16px;
  height: 22px;
}

.u-section-6 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 32px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-6 .u-icon-11 {
  width: 16px;
}

.u-section-6 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 339px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-11 {
  margin: 0;
}

.u-section-6 .u-text-12 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-6 .u-icon-16 {
  width: 16px;
}

.u-section-6 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 98px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -54px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 853px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -809px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 1258px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -1214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-line-1 {
    margin-top: 1215px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -1171px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 734px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  width: 259px;
  margin: 43px auto 0;
}

.u-section-7 .u-text-2 {
  width: 681px;
  margin: 33px auto 0;
}

.u-section-7 .u-line-1 {
  width: 72px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 457px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.u-section-7 .u-group-1 {
  min-height: 217px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-7 .u-text-3 {
  margin: 0;
}

.u-section-7 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: -52px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 457px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-group-2 {
  min-height: 215px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-7 .u-text-6 {
  margin: 0;
}

.u-section-7 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: -50px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-7 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 457px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-group-3 {
  min-height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-7 .u-text-9 {
  margin: 0;
}

.u-section-7 .u-image-3 {
  width: 100px;
  height: 100px;
  margin: -49px auto 0;
}

.u-section-7 .u-text-10 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-7 .u-text-11 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -35px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 112px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-7 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 377px;
  }

  .u-section-7 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 833px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-top: -757px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 813px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-top: -730px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/jhhhhhh.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 760px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 33px 0 0;
}

.u-section-8 .u-list-1 {
  width: 417px;
  margin: 41px 36px 0 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-8 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-8 .u-text-3 {
  margin: 21px 1px 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-8 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-8 .u-text-5 {
  margin: 21px 1px 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-8 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-8 .u-text-7 {
  margin: 21px 1px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 30px 30px 60px;
}

.u-section-8 .u-form-1 {
  margin: 0;
}

.u-section-8 .u-label-1 {
  font-weight: 700;
}

.u-section-8 .u-label-2 {
  font-weight: 700;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-label-3 {
  font-weight: 700;
}

.u-section-8 .u-label-4 {
  font-weight: 700;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-8 .u-list-1 {
    width: 410px;
    margin-right: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-8 .u-form-1 {
    height: 478px;
    width: 426px;
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 87px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-list-1 {
    width: 300px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-list-1 {
    width: 488px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 409px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-list-1 {
    width: 320px;
  }
}